/*********************************
General
*********************************/

body {
	color: #212121;
	line-height: 1.5;
	margin: 0;
}

#bmw {
	background-color: black;
	border-radius: 15px;
	padding: 15px;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.main-header {
	/*background-image: radial-gradient(circle at top, #ffa949, firebrick);
    background-image: linear-gradient(#ffa949, firebrick);
    background-image: url('img/mountains.jpg');*/
	background: linear-gradient(darkslategrey, transparent 20%), #ffa949 url('../img/lake.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 850px;
	padding-top: 170px;
}

.lol-text2 {
	margin: 0;
	font-family: "Montserrat", sans-serif;
	font-size: 3vw;
	line-height: 0.9;
	color: darkslategrey;
	text-transform: uppercase;
	text-decoration: underline;
	transition: all 0.25s;
	align-self: center;
	mix-blend-mode: multiply;
	text-shadow: 2px 2px darkslategrey;
}

.shadow-text {
	text-shadow: 1px 1px darkslategrey;
	color: darkslategrey;
	font-size: 2vw;
}

.lol-text {
	margin: 0;
	font-family: "Montserrat", sans-serif;
	font-size: 10vw;
	line-height: 0.9;
	color: darkslategrey;
	text-transform: uppercase;
	transition: all 0.25s;
	align-self: center;
	mix-blend-mode: multiply;
	text-shadow: 5px 5px darkslategrey;
}

.main-header,
.title {
	text-align: center;
}

.title {
	border-bottom: 2px solid;
	color: #212121;
	font-family: cursive;
}

.primary-content {
	padding-bottom: 95px;
	text-align: center;
}

.secondary-content {
	border-bottom: 2px solid #dfe2e6;
	padding-bottom: 70px;
	padding-top: 80px;
}

.primary-content,
.secondary-content {
	margin: auto;
	max-width: 900px;
	padding-left: 50px;
	padding-right: 50px;
	width: 75%;
}

.t-border {
	border-top: 2px solid darkslategrey;
}

.wildlife {
	/*background-color: #02283A;*/
	background-image: url('../img/deer.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-top: 10px solid darkslategrey;
	/*Box Shadows: 1st value is horizontal. 2nd is vertical. 3rd is blur. 4th is spred-radius*/
	box-shadow: inset 50px 10px rgba(0, 0, 0, , 8);
	/* fist value is top, second is left and right, third is bottom */
	margin: 105px 0 60px;
	padding: 18% 24%;
}


}
.callout {
	border-bottom: 3px solid;
	display: inline-block;
	font-size: 1.25em;
	margin-top: 20px;
	padding: 0 9px 3px;
}
#main-footer {
	border-bottom: solid 10px darkslategrey;
	padding-bottom: 60px;
	padding-top: 60px;
	text-align: center;
}

/*********************************
Headline & P Elements
*********************************/
h2 {
	font-size: 53px;
	font-weight: normal;
	/* em = 25px/3  */
	
	margin-bottom: .5em;
	text-decoration: underline;
}
h3 {
	color: #0194AC;
	font-size: 20px;
	margin-bottom: 1.7em;
}
p {
	font-size: 20px;
}

/*********************************
Floated Columns
*********************************/
.resorts,
.tips {
	width: 46.5%;
}
.resorts {
	float: left;
}
.tips {
	float: right;
}
.group:after {
	clear: both;
	content: "";
	display: table;
}
#arrow {
	width: 175px;
	height: 150px;
}

/*********************************
Colors
*********************************/
ul li {
	/*    margin-bottom: 5px;*/
}
ul,
ol {
	margin-left: 30px;
}
li {
	margin-bottom: 10px;
}
.arrow {
	margin-top: 100px;
	width: 50px;
}
img {
	border-radius: 10px;
	margin-bottom: 20px;
	width: 100%;
}
.main-header {
	background-color: darkslategrey;
}
#check {
	text-decoration: none;
}

/*CSS PSEUDO CLASS*/
a:link {
	color: #0194AC;
	text-decoration: none;
}
a:visited {
	color: darkslategrey;
}
a:hover {
	color: purple;
}
a:active {
	color: cadetblue;
}
a:focus {
	background-color: cadetblue;
	color: darkcyan;
}

/*********************************
Media Queries
*********************************/
@media(max-width: 1024px) {
	.primary-content,
	.secondary-content {
		width: 90%;
	}
	
	.wildlife {
		margin: 50px 0 20px;
		padding: 10% 12%;
	}
}
.box {
	background-color: lightgrey;
	padding: 25px;
	border-radius: 25px;
	margin: 25px;
	opacity: 0.7;
	filter: alpha(opacity=70);
	text-decoration: none;
}
@media(max-width: 768px) {
	.primary-content,
	.secondary-content {
		border-top: none;
		padding: 20px;
		width: 100%;
	}
	
	.main-header {
		max-height: 380px;
		padding: 50px 25px;
	}
	
	.title {
		border: none;
		font-size: 1.3rem;
	}
	
	.arrow {
		display: none;
	}
	
	.intro {
		font-size: 1rem;
	}
	
	.resorts,
	.tips {
		float: none;
		width: 100%;
	}
	
	.main-footer {
		padding: 20px 0;
	}
}
@media (max-width: 375px) {
	h1 {}
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.images {
	width: 370px;
	height: 275px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float: left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child {
	margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	zoom: 1;
	/* For IE 6/7 */
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float: left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child {
	margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	zoom: 1;
	/* For IE 6/7 */
}

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
	float: right;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {
		margin: 1% 0 1% 0%;
	}
}
@media only screen and (max-width: 480px) {
	.span_2_of_2,
	.span_1_of_2 {
		width: 100%;
	}
}